@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Test Github deploy</h1>
    <h5 class="display-4">Do an Update</h5>
    <h6 class="display-4">Do an Update 12/15/22</h6>
     <3 class="display-4">Do an Update 12/19/22</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
